.headerResume {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-items: center;
}

.contentHeader {
  width: 80%;
}

.professionalResume {
  display: flex;
  flex-direction: column;
  margin-left: 94px;
}

h1 {
  margin-top: 60px;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 15px;
}

.dividerRight {
  margin-top: 25px;
  margin-bottom: 25px;
}
