.topLeft {
  display: flex;
  padding: 15px;
  text-align: center;
  justify-content: space-evenly;
}

hr {
  width: 95%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
  font-family: "Roboto", serif;
  color: #3498db;
}

.formsSection {
  margin: 25px;
}

.formStyle {
  display: flex;
  flex-direction: column;
}

img {
  width: 25%;
  margin-top: 15px;
  margin-left: 20px;
}
